<div class="navigation">
	many cool internet site<br>
	<a href="{{ path_for('home') }}">home</a> -
	<a href="{{ path_for('crud') }}">crud</a> -
	<a href="{{ path_for('signup') }}">sign-up</a> -
	<a href="{{ path_for('signin') }}">sign-in</a>
</div>