<div class="navigation">
	<span class="rainbow-text">much cool internet site</span>
	<a href="{{ path_for('home') }}">home</a> -
	<a href="{{ path_for('crud') }}">crud</a> -
	<a href="{{ path_for('signup') }}">sign-up</a> -
	<a href="{{ path_for('signin') }}">sign-in</a>
</div>