<div class="navigation">
	<span class="title"><font color="#FF0000">m</font><font color="#F3210B">u</font><font color="#E84116">c</font><font color="#DD6121">h</font> <font color="#C79A37">c</font><font color="#BCB342">o</font><font color="#B1C94D">o</font><font color="#A6DC58">l</font> <font color="#90F66E">i</font><font color="#85FC79">n</font><font color="#79FE85">t</font><font color="#6EFD90">e</font><font color="#63F69B">r</font><font color="#58ECA6">n</font><font color="#4DDDB1">e</font><font color="#42CBBC">t</font> <font color="#2C9DD2">s</font><font color="#2181DD">i</font><font color="#1663E8">t</font><font color="#0B44F3">e</font></span>
	<a href="{{ path_for('home') }}">home</a> -
	<a href="{{ path_for('crud') }}">crud</a> -
	<a href="{{ path_for('signup') }}">sign-up</a> -
	<a href="{{ path_for('signin') }}">sign-in</a>
</div>