<div>
	many cool internet site - <a href="{{ path_for('home') }}">Home</a> - 
	<a href="{{ path_for('crud') }}">crud</a> -
	<a href="{{ path_for('signup') }}">sign-up</a> -
	<a href="{{ path_for('signin') }}">sign-in</a>

</div>