body {
    padding-left: 10px;
    background-color: #EDB766;
    -webkit-font-smoothing: antialiased;
}

.navigation{
	margin-bottom: 20px;
	text-shadow: 3px 3px 2px #888888;
}

.box{
	padding: 10px;
	padding-top: 0px;
	border-style: dotted;
	width: 60%;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.form{
	padding-bottom: 20px;
}

.title {             
	font-size: 40px;
	display:block;
  }

  .toggle{
        display: inline;
  }