body {
    padding-left: 10px;
    background-color: #EDB766;
    -webkit-font-smoothing: antialiased;
}

.navigation{
	margin-bottom: 20px;
	text-shadow: 3px 3px 2px #888888;
}

.box{
	padding: 10px;
	padding-top: 0px;
	border-style: dotted;
	width: 60%;
}

h1 {
	margin-top: 0px;
	margin-bottom: 10px;
}

.form{
	padding-bottom: 20px;
}

.rainbow-text {             
	font-size: 40px;
	display:block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-gradient(linear,  left top,  left bottom, 
        color-stop(0.00, red), 
        color-stop(16%, orange),
        color-stop(32%, yellow),
        color-stop(48%, green),
        color-stop(60%, blue),
        color-stop(76%, indigo),
        color-stop(1.00, violet));
  }

  .toggle{
        display: inline;
  }